# Ignore output directory and output files
out/**
**/*.png
**/*.h5
**/*.out

# Ignore IDE and editor files
**/*~
**/*#

# Ignore binaries
*.pyc
**/__pycache__
*.DS_Store

# Ignore ipnyb checkpoints
.ipynb_checkpoints/

# Ignore metadata
qiskit-aer/pip-wheel-metadata/*

# Ignore package installations
**/*.egg-info

# Ignore pyc
*.pyc
