# Ignore output directory and output files
out/**
**/*.png
**/*.h5

# Ignore IDE and editor files
**/*~
**/*#

# Ignore binaries
**/__pycache__
*.DS_Store

# Ignore ipnyb checkpoints
.ipynb_checkpoints/
