[submodule "PY2_quantum-optimal-control"]
	path = PY2_quantum-optimal-control
	url = https://github.com/SchusterLab/quantum-optimal-control.git
[submodule "PY3_quantum-optimal-control"]
	path = PY3_quantum-optimal-control
	url = https://github.com/singular-value/quantum-optimal-control.git
